.container{
    height: 22rem;
    width: 50%;
    border: 10px solid teal;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    padding-left: 2rem;
}
.admin{
    height: 15rem;
    width: 100%;
    /* border: 5px solid #0D0C22; */
    border-radius: 50%;
    font-size: 25px;
}
.user{
 
        height: 15rem;
        width: 100%;
        /* border: 5px solid #0D0C22; */
        border-radius: 50%;
        font-size: 25px;
    
}
.userimgbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userimg{
    height: 14rem;
    width: 15rem;
    border-radius: 10px;
}

.editbtn{
    padding: 1rem ;
    color: #0D0C22;
    border: 5px solid teal;
    position: relative;
    /* z-index: 1; */
   
}
.popup {
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
  }