.agency{
height: 15rem;
width: 90%;
/* border: 1px solid red; */
margin: auto;
margin-top: 2rem;

}
.agencyimg{
    border-radius: 50%;
}

.agencytext{
    color: #0D0C22;
    font-size: 25px;
    font-weight: 500;
    margin-top: 1rem;
}
.website{
    color: #6E6D7A;
    font-size: 17px;
    margin-top: 0.5rem;
}
.hire{
    padding: 1rem;
    margin-top: 1rem;
}
.moreby{
    height: 20rem;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    
}
.casestudy{
    height: 20rem;
    width: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin-top: 1rem;
}
.casestudybox{
    height: 15rem;
    width: 95%;
    /* border: 1px solid black; */
    border-radius: 15px;
    /* padding-left: 1rem; */
}
.casestudyboximg{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.agencytextmore{
    color: #0D0C22;
    font-size: 21px;
    font-weight: bolder;
margin-right: 45rem;
}