.profilebox{
    height: 5rem;
    width: 60%;
    margin: auto;
    border: 1px solid red;
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.profile{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 1px solid red;
}
.profileimg{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.profiletext{
    height: auto;
    width: 60%;
    border: 1px solid red;
}
.sekret{
    height: 55rem;
    width: 80%;
    border-radius: 15px;
    border: 1px solid red;
    margin: auto;
}
.sekretimg{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.heytextbox{
    height: 8rem;
    width: 70%;
    border: 1px solid red;
    margin: auto;
    font-size: 25px;
    font-weight: 400;
    color:  #0D0C22;
    margin-top: 3rem;
}
.new{
    height: 10rem;
    width: 32%;
    margin: auto;
    border: 1px solid red;
    font-size: 25px;
    font-weight: 400;
    color:  #0D0C22;
    margin-top: 3rem;
}

.mission{
    height: 40rem;
    width: 75%;
    border: 1px solid red;
    border-radius: 15px;
    margin: auto;
}
.missionimg{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.solution{
    height: 30rem;
    width: 65%;
    border: 1px solid red;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.solutionbox{
    height: 28rem;
    width: 50%;
    border: 1px solid red;
}
.solutionboximg{
    height: 100%;
    width: 100%;
}
.solutionboxtext{
    color: #0D0C22;
    font-size: 20px;
    font-weight: bolder;
   
}
.manage{
    height: 22rem;
    width: auto;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding-left: 2rem;
    /* justify-content: center;
    align-items: center; */
}
.managebox{
    color: #0D0C22;
    font-weight: 500;
    font-size: 14px;
    height: 10rem;
    width: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
padding-top: 3rem;
}
.apitext
{
    color: #0D0C22;
    font-weight: bolder;
    font-size: 20px;
}

.apitexts{
    color: #6E6D7A;
    font-size: 10px;
    font-weight: bolder;
}