.profilebox{
    height: 5rem;
    width: 60%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.profile{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    /* border: 1px solid red; */
}
.profileimg{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.profiletext{
    height: auto;
    width: 60%;
    /* border: 1px solid red; */
}
.sekret{
    height: 55rem;
    width: 80%;
    border-radius: 15px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 2rem;
}
.sekretimg{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.heytextbox{
    height: 8rem;
    width: 70%;
    /* border: 1px solid red; */
    margin: auto;
    font-size: 25px;
    font-weight: 400;
    color:  #0D0C22;
    margin-top: 3rem;
}
.new{
    height: 10rem;
    width: 32%;
    margin: auto;
    /* border: 1px solid red; */
    font-size: 25px;
    font-weight: 400;
    color:  #0D0C22;
    margin-top: 3rem;
}

.mission{
    height: 40rem;
    width: 75%;
    /* border: 1px solid red; */
    border-radius: 15px;
    margin: auto;
}
.missionimg{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.solution{
    height: 30rem;
    width: 65%;
    /* border: 1px solid red; */
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.solutionbox{
    height: 28rem;
    width: 50%;
    /* border: 1px solid red; */
}
.solutionboximg{
    height: 100%;
    width: 100%;
}
.solutionboxtext{
    color: #0D0C22;
    font-size: 20px;
    font-weight: bolder;
   
}
.manage{
    height: 22rem;
    width: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding-left: 2rem;
    /* justify-content: center;
    align-items: center; */
}
.managebox{
    color: #0D0C22;
    font-weight: 500;
    font-size: 14px;
    height: 10rem;
    width: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
padding-top: 3rem;
}
.apitext
{
    color: #0D0C22;
    font-weight: bolder;
    font-size: 20px;
}

.apitexts{
    color: #6E6D7A;
    font-size: 10px;
    font-weight: bolder;
    width: 43%;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
}

.toobox{
    height: 20rem;
    width: 55%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* gap: 0.5rem; */
    margin-top: 2rem;
}
.tooboxes{
    height: auto;
    width: 29%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
}
.tooboximg{
    height: 11rem;
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 1rem;
}
.tooimg{
    height: 100%;
    width: 100%;
}
.tootext{
    color: #0D0C22;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 1.5rem;   
}
.tootexts{
    color: #6E6D7A;
    font-size: 10px;
    font-weight: bolder;
    margin-top: 1rem;
}
.apitextcutting{
    height: auto;
    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    color: #6E6D7A;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 1rem;
}

.readabilitybox{
    width: 55%;
    margin: auto;
    border: 1px solid red;
    height: 8rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.subreadabilitybox{
    height: auto;
    width: 30%;
    border: 1px solid red;
}
.readtext{
    color: #0D0C22;
    font-weight: bolder;
    font-size: 18px;
}

.bulbicon{
    font-size: 35px;
    color: #ea4c89;
}