.smallNav{
    
    width:"100%";
    /* border: 1px solid red; */
    background-color: #0D0C22;
    color: aliceblue;
display: flex;
justify-content: space-between;
height: 3rem;
align-items: center;
padding: 0 1rem 0 25rem;

}
.profile{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    /* border: 1px solid red; */
}
.profileimg{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.navBox{
    height: 5rem;
    width:"100%";
    /* border: 0.5px solid#6E6D7A; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 1px solid#6E6D7A;

}
.userdetail{
    color: #ea4c89;
    font-size: 20px;
  }
.dribble{
    height: auto;
    width: 130px;
    color: #0D0C22;
    font-size: 30px;
    font-weight: 500;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}

.Inspiration{
    height: auto;
    width: 40rem;
    color: #6E6D7A;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid green; */
    font-weight: 500;
}

.search{
    height: auto;
    width: 16rem;
    /* border: 4px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #6E6D7A;
    font-size: 17px;
    font-weight: 500;
}